* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: rgba(32,32,32, 0.45);
} 

.notes-page {
  width: 100%;
  min-height: 100vh;
  color: whitesmoke;
  background-image: url(background-wall.jpg);
  background-size: cover;
}

.login-page {
  background-image: url(background-wall.jpg);
  background-size: cover;
}

.notes-page header {
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px rgb(32,32,32);
  z-index: 10;
  background-color: rgba(32,32,32, 0.85);
}

a {
  text-decoration: none;
  color: whitesmoke;
}

button {
  border: 2px solid rgba(32,32,32, 0.7);
}

.inputs {
  border: 1px solid rgba(32,32,32, 0.7);
  border-radius: 2px;
}

.notes-page header .logo {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.notes-page header ul li {
  list-style: none;
  display: inline-block;
  padding: 0 15px;
}

.notes-page header ul li a {
  text-transform: uppercase;
  opacity: 0.7;
}

.notes-page header ul li a:hover {
  opacity: 1;
}

.notes-page section {
  width: 100%;
  padding: 20px 0;
  
}

.note-wrapper {
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 100px;
}

.card {
  width: 300px;
  box-shadow: 5px 5px 20px rgba(32,32,32, 0.7);
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 10px;
  position: relative;
  color: #323232;
  margin: 15px;
  cursor: pointer;
}

.card .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 900;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #323232;
  font-size: 20px;
}

.close:hover {
  color: darkred;
}

.card h4 {
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card .text-wrapper {
  width: 100%;
  height: 163px; 
  overflow: hidden;
  margin: 10px 0;
  color: #323232;
}

.card .date {
  text-align: right;
  color: rgba(32,32,32, 0.7);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

.card-footer a {
  color: #323232;
}

/* Create note */

.create-note {
  max-width: 500px;
  width: 100%;
  margin: auto;
  margin-top: 150px;
  border: 2px solid white;
  padding: 30px;
  color: #323232;
  border-radius: 5px;
  background-color: whitesmoke;
}

.create-note h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 0;
}

.create-note .row {
  width: 100%;
  margin: 10px 0;
}

.create-note input,
.create-note button {
  width: 100%;
  height: 40px;
  padding: 0 5px;
}

.create-note label {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.create-note textarea {
  width: 100%;
  resize: none;
  padding: 0 5px;
  height: 150px;
}

.create-note button {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}

.content {
  line-height: 20px;
}

@media (max-width: 500px) {
  .create-note {
    padding: 15px;
    border: 5px solud #ccc;
  }
}

/* Login / Register */

.login-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.login input,
.register input {
  margin-bottom: 15px;
}

.login,
.register {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  background-color: smokewhite;
}

.login-page h2,
.login-page h3 {
  color: #323232;
}

.login-page h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
}

.login-page p {
  margin: 10px 0;
  color: #343434;
}

.login-page span:hover {
  color: darkblue;
  cursor: pointer;
}